body {
  font-family: "Quicksand", "Roboto Mono", "Lato";
  /* font weight: 400-700 */
  background-color: #f6f0e3;
  color: #3f3f3f;
}

.wrapper {
  margin: 1rem auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #582323db;
}

.cal-border {
  border-radius: 15px;
  border: 1px solid #2d2d2d30;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  background-color: #cdd2ef;
  /* box-shadow: #63636333 0px 2px 8px 0px; */
  box-shadow: #00000030 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.4rem;
  margin: 1rem auto;
}

.resultBar {
  margin: 1rem 0;
  border: 1.7px solid #5151516e;
  border-radius: 10px;
  background-color: #fbf9ec;
}

.resultBar h2 {
  text-align: right;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

button {
  height: 2.5rem;
  text-align: center;
  border-radius: 7px;
  font-family: "Quicksand", "Roboto Mono", "Lato";
  font-weight: 500;
  font-size: 1rem;
  border-color: transparent;
  background-color: #fbf9ec;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #ffffff;
}

.ac {
  grid-column: 1/ 2;
  grid-row: 2 / 3;
  background-color: #fab5af;
}
.ac:active,
.c:active,
.equal:active {
  background-color: rgb(218, 172, 190);
}

.c {
  grid-column: 1/ 2;
  grid-row: 3 / 4;
  background-color: #fab5af;
}

.ms {
  grid-column: 2/ 3;
  grid-row: 1 / 2;
  background-color: #fccfaf;
}
.ms:active,
.mc:active,
.mr:active,
.m-plus:active,
.m-minus:active,
.percent:active,
.square-root:active,
.multiply:active,
.divide:active,
.add:active,
.subtract:active {
  background-color: rgb(233, 229, 193);
}
.mc {
  grid-column: 3/ 4;
  grid-row: 1 / 2;
  background-color: #fccfaf;
}

.mr {
  grid-column: 4/ 5;
  grid-row: 1 / 2;
  background-color: #fccfaf;
}

.m-plus {
  grid-column: 5/ 6;
  grid-row: 1 / 2;
  background-color: #fccfaf;
}

.m-minus {
  grid-column: 6/ 7;
  grid-row: 1 / 2;
  background-color: #fccfaf;
}

.seven {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.eight {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.nine {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.percent {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  background-color: #fccfaf;
}

.square-root {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
  background-color: #fccfaf;
}

.four {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.five {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.six {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.multiply {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
  background-color: #fccfaf;
}

.divide {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
  background-color: #fccfaf;
}

.one {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.two {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.three {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.add {
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  background-color: #fccfaf;
}

.subtract {
  grid-column: 6 / 7;
  grid-row: 4 / 5;
  background-color: #fccfaf;
}

.zero {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.decimal {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.sign {
  grid-column: 6 / 7;
  grid-row: 5 / 6;
  background-color: #fccfaf;
}

.equal {
  grid-column: 4 / 6;
  grid-row: 5 / 6;
  background-color: #fab5af;
}

.wrapper .copyright {
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
  color: #542b2bb8;
}

/* 430px */
@media (min-width: 26.875em) {
  .wrapper h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  .cal-border {
    border-radius: 15px;
    border: 1px solid #2d2d2d30;
    margin: 1rem 0.5rem;
    padding: 1.7rem 1.6rem;
  }

  .calculator {
    gap: 0.7rem;
    margin: 1.5rem auto;
  }

  .resultBar {
    margin: 1rem 0;
    border: 1.7px solid #5151516e;
    border-radius: 10px;
  }

  .resultBar h2 {
    margin-right: 1rem;
    font-size: 2.3rem;
    font-weight: 600;
  }

  button {
    height: 3rem;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .wrapper .copyright {
    font-size: 1.3rem;
  }
}

/* 850px */
@media (min-width: 53.125em) {
  .wrapper h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  .cal-border {
    border-radius: 19px;
    border: 1px solid #2d2d2d30;
    margin: 1rem 0.5rem;
    padding: 2rem 2rem;
  }

  .calculator {
    gap: 0.8rem;
    margin: 2rem auto 1.5rem auto;
  }

  .resultBar {
    margin: 1rem 0;
    border: 1.7px solid #5151516e;
    border-radius: 13px;
  }

  .resultBar h2 {
    margin-right: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
  }

  button {
    height: 4rem;
    border-radius: 11px;
    font-weight: 500;
    font-size: 1.8rem;
  }

  .wrapper .copyright {
    font-size: 1.5rem;
  }
}
